h1{
    border: 1px solid brown;
    /*border-top-width: 10px;
    border-bottom-width: 10px;
    border-right-width: 10px;
    border-left-width: 10px; */
    width: 200px;
    margin: 30px auto;
    padding: 30px;
    text-align: center;
    border-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 30px;
  /*  border-radius: 100%; */


  box-shadow: 10px 10px 20px red
               -10px 10px 20px yellow;
 box-shadow:inset 10px 10px 20px red
               -10px 10px 20px yellow;          
}
p{
    border: 1px solid black;
margin: 30px;
width: 500px;
padding: 20px;
height: 70px;
overflow: scroll;
text-align: justify;



}
div{
    border: 1px solid blue;
}
.topnav a.active {
    background-color: #04AA6D;
    color: rgb(59, 1, 248);
  }