h1{
    color: darkmagenta;
    border: 2px solid  green;
    border-width: 2px;
    border-top-width:2px;
    border-bottom-width: 3px;;
    margin: 30px auto;
    padding-right: 100%;
    text-align: center;
    border-radius: 20px;
    border-top-right-radius:50px ;
    border-bottom-left-radius: 55px;
    width: 400px;
    padding: 50px;
    text-align: center;
    box-shadow: 20px 20px yellowgreen;
    box-shadow: inset 10px 10px red;
}
p{
    border: 3px solid orange;
    width: 800px;
    height: 150px;
    padding: 30px;
    margin: 20px auto;
    text-align: justify;
    overflow-y: scroll;
    border-radius: 25px;
    background-color: darksalmon;
    color: blue;
}
body{
    background-color: black;
}
li{
  /*  display: inline;*/
  list-style-type: disc;
    color: whitesmoke;
    
}
#test{
    display: none;
}
#position{
    list-style-position:inside;
}
