.facebook-page h1 {
    color: #1877f2;
    font-size: 4rem;
    margin: 60px auto;
    margin-bottom: 5px;
    text-align:center;
  }
  form {
  border: 2px solid whitesmoke;
  border-bottom-width:1px;
  border-top-width: 1px;
  border-left-width:1px;
  border-right-width:1px;
    display:flex;
    flex-direction: column;
    background:white;
    border-radius: 5px;
    padding:1%;
    box-shadow: 10px 10px 30px black ;
    max-width: 500px;
    width: 100%;
    text-align: center;
    border-bottom-left-radius: 10 auto;
    margin:30px auto;
    }
  
  form input {
    height: 55px;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin: 15px auto;
    font-size: 1rem;
    padding: 0 14px;
  }
  
  
  ::placeholder {
   color: #777;
    font-size: 1.063rem;
  }
  
  .link {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 15px;
  }
  
  .link .login {
    border: none;
    outline: none;
    cursor: pointer;
    background: #1877f2;
    padding: 15px 0;
    border-radius: 6px;
    color: #fff;
    width: 96%;
    margin: 30px auto;
    
    
    
    font-size: 1.25rem;
    font-weight: 600;
    transition: 0.2s ease;
    
  }
  
  .link .login:hover {
    background: #0d65d9;
  }
  
  
  
  .link .forgot {
      color: #4c95f5;
      font-size: 0.875rem;
  
    }
    




