body{
    background-color: rgb(249, 236, 179);
}
h3{
    color: rgb(1, 10, 10);
}

div{
    color: rgb(2, 1, 0);
}
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float:right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #e51010;
    color: rgb(235, 251, 9);
    motion-path: ellipse();
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: rgb(241, 230, 10);
  }
  th{
    background-color: beige;
    color: red;
  }
  td{
    background-color: darkorchid;
    color: #f2f2f2;
  }
  form{
    background-color: rgb(233, 177, 109);
    color: black;
    font-style: italic;
  }
  legend{
    color: #e51010;
  }
  
