table,td,th{
    border: 1px solid blue;
}
thead{
    background-color: black;
    color: red;
}
tbody{
    background-color: aquamarine;
    color: black;
}
#seminar{
    background-color: blue;
    color: orangered;
}
#library{
    background-color: bisque;
    color: black;
}
#lunch{
    background-color: yellow;
    color: black;
}
#lab{
    background-color: darkcyan;
    color: coral;
}
#lab1{
    background-color: blue;
    color: orangered;

}
#lab2{
    background-color: yellow;
    color: black;

}
#lab3{
    background-color: aquamarine;
    color: black;

}